apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: demo-latest-2
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: demo-latest-2
    app.kubernetes.io/part-of: application-to-test-git-ops
  name: demo-latest-2
  namespace: sbudhwar-1
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: demo-latest-2
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: demo-latest-2
    spec:
      containers:
      - image: https://quay.io/sbudhwar/demo:latest
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 10
        name: container-image
        ports:
        - containerPort: 8080
        readinessProbe:
          initialDelaySeconds: 10
          periodSeconds: 10
          tcpSocket:
            port: 8080
        resources:
          requests:
            cpu: "1"
            memory: 512Mi
status: {}
